.content {
  width: 100%;
  padding: 30px;
  margin: 20px;
  border: 2px solid #000;
  height: 70vh;
}
.box {
  display: flex;
  width: 100%;
}
.list {
  width: 200px;
  display: flex;
  border: none;
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 800;
}
.list:hover {
  background-color: green;
  color: #fff;
}

.topic {
  text-align: center;
  background-color: #f0f8f0;
}

.content {
  display: grid;
  gap: 20px;
  margin: 20px;
}
